<%provide(:title,'Ask the Meddler Team')%>
<div class="divider-bottom">
<h1>Tell us what you'd like us to implement on the site</h1> <h2>or take away.</h2>
<div>
<div class="notice-ask"><h3>The higher the meds you get the higher the chance your post is seen by the MedTeam</h3></div>

