<%provide(:title,'Contact Us')%>
<%provide(:controller,'static_pages')%>
<!DOCTYPE html>
<html>
  <head>
</head>
<body>
<h1>Sample App</h1> <p>
to contact us please eat chicken nuggets
</body>
</html>
