<%provide(:title,'Help')%>
<!DOCTYPE html>
<h1>Meddler Guide</h1> 

<%=image_tag("user_images/help1.png",width:1550,height:1050)%>
<div class="divider-x"></div>
<div id="part1">
	<h1 style="font-size:28px">Linking</h2>
<p>To link to a user do: &ltusername&gt</p>
<p>To link to a medchannel do: *medchannel*</p>
<p>example: <%= parseShit("<masterwow> likes going to *random*")%><p>
</div>
<div class="divider-x"></div>
<div id="part2">
	<h1 style="font-size:28px">Making Medchannels</h2>
<p>To make another medchannel you must post and enter the name in the medchannel box or you can repost an existing post</p>
</div>