
<div class="user_comment_image "><%=image_tag(current_user.image_url,width: 25, height:25, title: current_user.name)%></div>

<div class="new_comment">
	<%= text_area_tag :comment,"", class: "comment_form_content"%>
		
</div>
	<%unless @timeleft==nil%>
	<span class="comment_time_info custom-bland"><span class="time"><%=@timeleft%></span> seconds remaining</span>	
	<%end%>
	<span class="user_comment_info custom-success">You have 
	<span class="user_contstaint">500</span> characters remaining
</span>
