<div class="medfeed_box">
		<div class="header">
			<span class="text"><%=@name%></span>
			<%unless @controller=="users_show"%>
			<span class="hnav_left"><i class="icon-white icon-chevron-left"></i></span>
			<span class="hnav_right"><i class="icon-white icon-chevron-right"></i></span>
			<%end%>
</div>
<div class="feed_helper hide"><!-- give user options to bring it out if they want-->
	<div class="options">
	<span class="btn btn-small btn-custom"><i class="icon-random"></i>random</span>
	<span class="btn btn-small btn-custom"><i class="icon-pause"></i>stop feed</span>
	</div>
	<div class="close">X</div>
</div>
<%=image_tag "ajax-loader.gif",width:25,height:25, class: "hide paginating_gif"%>
<div class="medfeed_container">
<% if @feed_items.any?%>
		<%@feed_items.each do |feed_item|%>

		<%= render partial: 'shared/feed_item',:locals => { :feed_item => feed_item }%>

		<%end%>
		<%= will_paginate @feed_items%>
		<%else%>
		<div class="nothing"></div>
		<%end%>
	</div>
</div>